div.yafowil-widget-autocomplete .hiddenStructure {
	display: none;
}

div.autocomplete-dropdown {
	width: 100%;
    min-height: 35px;
    background: lightcyan;
	padding:10px;
}

.suggestion {
	display: block;
}

.suggestion.active {
	background: lightpink;
}