div.yafowil-widget-autocomplete .hiddenStructure {
	display: none;
}

div.autocomplete-dropdown {
	display: none;
    position: absolute;
    z-index: 2000;
    min-width: 200px;
    overflow: hidden;
    background: white;
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 4px;
    padding: 0;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
}

.suggestion {
	display: block;
	padding: 5px 15px;
}

.suggestion.active {
	background: #b1dbfb;
}